/* width */
::-webkit-scrollbar {
  width: 0;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #01E1FF; 
    border-radius: 10px;
}